<style>
  .navbar-right{
    float: right !important;
    margin-right: 10px;
  }
  .navbar-text{
    margin-right: 10px;
  }
</style>
<div class="navbar-right">
  <div class="navbar-text">
    <b>Koszyk</b>
    {{itemCount()}} produkt (ów)
    {{total() | currency}}
  </div>
  <a href='#/checkout' class='btn btn-default'>
    Do kasy
  </a>
</div>