<!DOCTYPE html>
<html lang="en" ng-app='sportsStore'>
<head>

  <meta charset="UTF-8">
  <title>Sports Store</title>
  
  <!-- angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style/style.css">

  <script>
    angular.module('sportsStore', ['customFilters', 'cart', 'ngRoute'])
    .config(function ($routeProvider) {

      $routeProvider.when('/complete', {
        templateUrl: '/views/thankYou.html',
      });

      $routeProvider.when('/placeorder', {
        templateUrl: '/views/placeOrder.html',
      });

      $routeProvider.when('/checkout', {
        templateUrl: '/views/checkoutSummary.html',
      });

      $routeProvider.when('/products', {
        templateUrl: '/views/productList.html',
      });

      $routeProvider.otherwise({ 
        templateUrl: '/views/productList.html' 
      });

    });
  </script>

  <script src='modules/angular-route.js'></script>
  <script src='controllers/mainCtrl.js'></script>
  <script src='filters/customFilters.js'></script>
  <script src='controllers/productListCtrl.js'></script>
  <script src='components/cart/cart.js'></script>
  <script src='controllers/checkoutController.js'></script>

</head>
<body ng-controller='mainCtrl'>
  
  <div class="navbar navbar-inverse">
    <a href="#" class='navbar-brand'>Sklep sportowy</a>
    <cart-summary />
  </div>

  <div class="alert alert-danger" ng-show='data.error'>
    Błąd {{data.error.status}}. Dane produktu nie zostały wczytane
    <a href="/SportsStore/app.html" class='alert-link'>
      Klikni tutaj aby spróbować ponownie
    </a>
  </div>

  <ng-view />

</body>
</html>