.ng-invalid{
  background-color: lightpink;
}
.ng-valid{
  background-color: lightgreen;
}
.fix-invalid{
  background-color: #f5f5f5;
}
span.error{
  color: red;
  font-weight: bold;
}
#productTable{
  width: auto;
}
#productTable td {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#productTable td input{
  max-width: 125px;
}