<div class="panel panel-default" ng-controller='mainCtrl'>

  <div class="col-xs-3 panel-body">
    <a ng-repeat='item in screens' class='btn btn-block btn-default' ng-class="{'btn-primary' : item == current}" ng-click='setScreens($index)'>
     {{item}} 
    </a>
  </div>

  <div class="col-xs-9 panel-body">
    <div ng-include='getScreens()'></div>
  </div>
  
</div>