<div ng-controller='productCtrl'>
  <table id="productTable" class='table table-striped table-bordered'>
    <tr>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Kategoria</th>
      <th>Cena</th>
      <th></th>
    </tr>
    <tr ng-repeat='item in products' ng-hide='item.id === editedProduct.id'>
      <td>{{item.name}}</td>
      <td class='description'>{{item.description}}</td>
      <td>{{item.category}}</td>
      <td>{{item.price | currency}}</td>
      <td>
        <button ng-click='startEdit(item)' class='btn btn-xs btn-primary'>
          Edytuj
        </button>
        <button ng-click='deleteProduct(item)' class='btn btn-xs btn-warning'>
          Usuń
        </button>
      </td>
    </tr>
    <tr class='{danger: editedProduct}}'>
      <td>
        <input ng-model='editedProduct.name' required>
      </td>
      <td>
        <input ng-model='editedProduct.description' required>
      </td>
      <td>
        <input ng-model='editedProduct.category' required>
      </td>
      <td>
        <input ng-model='editedProduct.price' required>
      </td>
      <td>
        <button ng-hide='editedProduct.id' class="btn btn-xs btn-primary" ng-click='createProduct(editedProduct)'>
          Uwtórz
        </button>
      </td>
      <td>
        <button ng-show='editedProduct.id' ng-click='updateProduct(editedProduct)' class='btn btn-xs btn-primary'>
          Zapisz
        </button>
      </td>
      <td>
        <button ng-show='editedProduct' ng-click='cancelEdit()' class='btn btn-xs btn-warning'>
          Anuluj
        </button>
      </td>
    </tr>
  </table>
</div>