<div class="well" ng-controller='authCtrl'>
  <div class="alert alert-info" ng-hide='authenticationError'>
    Aby się zalogować, podaj nazwę użytkownika i hasło,
    a następnie klikni przysick zaloguj
  </div>
  <div class="alert alert-danger" ng-show='authenticationError'>
    Uwierzytelnianie nie powiodło się ({{authenticationError.status}})
    Spróbuj ponownie
  </div>
  <form name='authForm' novalidate class='fix-invalid'>
    <div class="form-group">
      <label>Nazwa użytkownika</label>
      <input name='username' class='form-control' ng-model='username' required>
    </div>
    <div class="form-group">
      <label>Hasło</label>
      <input name='password' type='password' class='form-control' ng-model='password' required>
    </div>
    <div class="text-center">
      <button ng-click='authenticate(username, password)' ng-disabled='authForm.$invalid' class='btn btn-primary'>
        Zaloguj
      </button>
    </div>
  </form>
</div>