<h2>Twój koszyk na zakupy</h2>

<div ng-controller="cartSummaryCtrl">

  <div class="alert alert-warning" ng-show="cartData.length == 0">
    Koszyk na zakupy jest pusty.
    <a href="#/products" class="alert-link">Kliknij tutaj, aby powrócić do katalogu</a>
  </div>

  <div ng-hide="cartData.length == 0">
    <table class="table">
      <thead>
        <tr>
          <th>Ilość</th>
          <th>Produkt</th>
          <th class="text-right">Cena</th>
          <th class="text-right">Wartość</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cartData">
          <td class="text-center">{{item.count}}</td>
          <td class="text-left">{{item.name}}</td>
          <td class="text-right">{{item.price | currency}}</td>
          <td class="text-right">{{ (item.price * item.count) | currency}}</td>
          <td>
            <button ng-click="remove(item.id)" 
            class="btn btn-sm btn-warning pull-right">Usuń</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3" class="text-right">Wartość całkowita:</td>
          <td class="text-right">
            {{ total() |  currency }}
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="text-center">
      <a class="btn btn-primary" href="#/products">Kontynuuj zakupy</a>
      <a class="btn btn-primary" href="#/placeorder">Złóż zamówienie</a>
    </div>
  </div>
</div>
