<div class="panel panel-default row" ng-controller='productListCrtl' ng-hide='data.error'>
  <div class="col-xs-3">
    <a ng-click='selectCategory()' class='btn btn-default btn-block btn-lg' ng-class='getCategoryClass(item)'>
      Strona Główna
    </a>
    <a ng-repeat="item in data.products | orderBy:'category' | unique:'category'" ng-click='selectCategory(item)' class='btn btn-block btn-default btn-lg' ng-class='getCategoryClass(item)'>
      {{item}}
    </a>
  </div>
  <div class="col-xs-9">
    
    <div class="well" ng-repeat='item in data.products | filter:categoryFilterFn | range:selectedPage:pageSize'>
      <h3>
        <strong>{{item.name}}</strong>
        <span class="pull-right label label-primary">
          {{item.price | currency}}
        </span>
        <span class="lead">
          {{item.description}}
        </span>
      </h3>
      <button ng-click='addProductToCart(item)' class='btn btn-success'>
        Dodaj do koszyka
      </button>
    </div>

    <div class="pull-right btn-group">
      <a  ng-repeat='page in data.products | filter:categoryFilterFn | pageCount:pageSize' ng-click='selectPage($index)' class='btn btn-default' ng-class='getPageClass($index)'>
        {{$index + 1}}
      </a>
    </div>

  </div>
</div>