<div class="well" ng-controller='registerAdminCtrl'>
  <div class="alert alert-info" ng-hide='registrationError'>
    Aby się zarejestrować, podaj nazwę użytkownika i hasło,
    a następnie klikni przysick zarejestruj
  </div>
  <div class="alert alert-danger" ng-show='registrationError'>
    Rejestracja nie powiodła się ({{registrationError.status}})
    Spróbuj ponownie
  </div>
  <form name='registerForm' novalidate class='fix-invalid'>
    <div class="form-group">
      <label>Nazwa użytkownika</label>
      <input name='username' class='form-control' ng-model='username' required>
    </div>
    <div class="form-group">
      <label>Hasło</label>
      <input name='password' type='password' class='form-control' ng-model='password' required>
    </div>
    <div class="text-center">
      <button ng-click='registerAdmin(username, password)' ng-disabled='registerForm.$invalid' class='btn btn-primary'>
        Zarejestruj
      </button>
    </div>
  </form>
</div>