<div class="alert alert-danger" ng-show='data.orderError'>
  Błąd {{data.orderError.status}}. Zamówienie nie może być złożone.
  <a href="#/placeorder" class='alert-link'>
    Kliknij tutaj, aby spróbowaj ponownie
  </a>
</div>

<div class="well" ng-hide='data.orderError'>
  <h2>Dziękujemy</h2>
  Dziękujemy za złożenie zamówienia. Produkty zostaną wysłane jak najszybciej. Jeżeli chcesz się skontaktować w sprawie zamówienia, podaj jego identyfikator {{data.orderId}}
  <h3>Dane Wysyłkowe</h3>
  <ul>
    <li>{{data.orderName}}</li>
    <li>{{data.orderStreet}}</li>
    <li>{{data.orderCity}}</li>
    <li>{{data.orderState}}</li>
    <li>{{data.orderZip}}</li>
    <li>{{data.orderCountry}}</li>
  </ul>

  <a href="#" class='btn btn-primary'>
    Strona Główna
  </a>
</div>